<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

</head>
<body class="body-color">
<h3 class="header-style">ToDo App</h3>
<div class="container" style="padding: 40px" ng-controller="AddTodoCtrl as ctrl">
    <form name="todoForm" novalidate ng-submit="ctrl.addTodo()" autocomplete="off">
        <div class="form-group">
            <label for="taskname">Task Description :</label>
            <input id="taskname" type="text" name="taskname" required size="60" class="form-control"
                   ng-model="ctrl.task.taskname" ng-click="'ctrl.ResetStatus()">
            <div class="help-block"
                 ng-show="todoForm.taskname.$invalid ||todoForm.taskname.$error.required">
                <p>Task description is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Priority :</label>
            <input id="priority" type="number" name="priority" required min="1" max="4" class="form-inline"
                   ng-model="ctrl.task.priority">
            <div class="help-block" ng-show="todoForm.priority.$error.required">
                <p>Priority is required</p>
            </div>
            <div class="help-block" ng-show="todoForm.priority.$error.min || todoForm.priority.$error.max">
                <p>Priority must be set between 1 to 4.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="dueDate">Due :</label>
            <input id="dueDate" type="date" name="dueDate" class="form-inline"
                   ng-model="ctrl.task.duedate">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="todoForm.$invalid">
                <i class="fa fa-plus-square-o"></i>
                Add
            </button>
        </div>
    </form>
    <div class="alert" role="alert" alert-dismissible
         ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code==202, 'alert-danger':ctrl.status.code==500}"
         ng-show="ctrl.status.message">
        <button class="close" data-dismissible="alert">&times;<</button>
        {{ctrl.status.message}}
    </div>
</div>
<br>
<div class="container" style="padding: 40px"
 ng-controller="ListTodoCtrl as ctrl">
    <div class="list-group" ng-show="ctrl.getTasks()">
        <h3 class="header-style">To Do Listing - Not completed</h3>

    <table class=" table table-striped table-responsive">
            <thead>
            <tr>
                <th width=10%>Check if completed</th>
                <th width=65%>Task</th>
                <td>&nbsp</td>
                <th>Due Date</th>
                <td>&nbsp</td>
                <th>Priority</th>
                <td>&nbsp</td>
                <th>Date Created</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in ctrl.getTasks() | filter:{completed: 0} | orderBy:due_date" >
                <td width=10%>
                    <input type="checkbox" ng-click="ctrl.updateCompleted(t)">
                </td>
                <!--<td class="done-{{t.done}}">{{t.task}}</td>-->
                <td width=65%>{{t.task_name}}</td>
                <td>&nbsp;</td>
                <td>{{t.due_date | date}}</td>
                <td>&nbsp;</td>
                <td>{{t.priority}}</td>
                <td>&nbsp</td>
                <td>{{t.create_date | date}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="alert" role="alert" alert-dismissible
             ng-show="ctrl.status.code1"
             ng-class="{'alert-success': ctrl.status.code1==202, 'alert-danger':ctrl.status.code1==400}"
             ng-show="ctrl.status.message1">
            <button class="close" data-dismissible="alert">&times;</button>
            {{ctrl.status.message1}}
        </div>
    </div>
    <br>
<div class="list-group">
    <h3 class="header-style">To Do Listing - Completed</h3>
    <table class=" table table-striped table-responsive" >
        <thead>
        <tr>
            <th width=10%>Check to remove</th>
            <th width=65%>Task</th>
            <td>&nbsp</td>
            <th>Due Date</th>
            <td>&nbsp</td>
            <th>Priority</th>
            <td>&nbsp</td>
            <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in ctrl.getTasks()| filter:{completed: 1}  | orderBy: 'due_date'">

            <td width=10%>
                <input type="checkbox" ng-click="ctrl.deleteCompleted(t)">
            </td>
            <!--<td class="done-{{t.done}}">{{t.task}}</td>-->
            <td width=65%>{{t.task_name}}</td>
            <td>&nbsp</td>
            <td>{{t.due_date | date}}</td>
            <td>&nbsp</td>
            <td>{{t.priority}}</td>
            <td>&nbsp</td>
            <td>{{t.create_date | date}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="alert" role="alert" alert-dismissible
         ng-show="ctrl.status.code2"
         ng-class="{'alert-success': ctrl.status.code2==202, 'alert-danger':ctrl.status.code2==400}"
         ng-show="ctrl.status.message2">
        <button class="close" data-dismissible="alert">&times;</button>
        {{ctrl.status.message2}}
    </div>
</div>

</div>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="service.js"></script>
</html>